body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-size: 14px;
}

h1{
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p, ul, li {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
}

a, ol {
    text-decoration: none;
    list-style-type: none;
}

footer{
    text-align: center;
    font-size: 18px;
    margin: 100px;
}

nav{
    display:flex;
    justify-content: center;
}